@import url('/src/app/themes/index.css');

.root {
    background-color: var(--header-color);

    & > div {
        @mixin max-content;
        padding: var(--gap-m);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        & > :first-child {
            margin-top: var(--gap-xl);
        }
    }

    & .item {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: var(--gap-s);
    }

    & .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--gap-l);
    }

    & .copyright {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--gap-xs);
    }

    & .text,
    p {
        @mixin text;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
}
