@import url('/src/app/themes/index.css');

.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr 377px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
